noderedflow.json
[{"id":"84794c68.55217","type":"tab","label":"SMART-DOOR WITH BOLTIOT","disabled":false,"info":""},{"id":"767e9c7e.d4fe64","type":"http request","z":"84794c68.55217","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"BOLT_CLOUD_LINK_FOR_LOW","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":20,"wires":[["a92e8ff4.f9592","4bb6b23b.5b24dc","538e5e90.eef1f"]]},{"id":"bd5ef5e8.5b1a48","type":"http request","z":"84794c68.55217","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"BOLT_CLOUD_LINK_FOR_HIGH","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":100,"wires":[["8c99fe88.071f2","d23bff57.9483d"]]},{"id":"8c99fe88.071f2","type":"debug","z":"84794c68.55217","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":140,"wires":[]},{"id":"de85fec1.84144","type":"http in","z":"84794c68.55217","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":80,"y":20,"wires":[["54df3159.4b053","15484832.120a08"]]},{"id":"54df3159.4b053","type":"function","z":"84794c68.55217","name":"","func":"if(msg.payload.command==\"DOORON\")\n{\n    msg.payload=1\n}\nelse{\n    msg.payload=0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":20,"wires":[["b11433b4.7bc75"]]},{"id":"1fde0ba.604f0f4","type":"switch","z":"84794c68.55217","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":100,"wires":[["bd5ef5e8.5b1a48"]]},{"id":"cc3ce524.f15478","type":"twilio out","z":"84794c68.55217","twilio":"9b1ab9ff.a98a78","twilioType":"sms","url":"","number":"YOUR_NUMBER","name":"","x":590,"y":240,"wires":[]},{"id":"96fa3dd9.1dcfc","type":"countdown","z":"84794c68.55217","name":"","topic":"","payloadTimerStart":"2","payloadTimerStartType":"num","payloadTimerStop":"1","payloadTimerStopType":"num","timer":"3","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":710,"y":60,"wires":[["1fde0ba.604f0f4"],[]]},{"id":"a92e8ff4.f9592","type":"function","z":"84794c68.55217","name":"","func":"if(msg.payload.value==\"1\")\n{msg.payload=\"--:SUCCESS:--\"\n    \n}\nelse\n{\n    msg.payload=\"--:Device is OFFLINE:--\"\n}\nmsg.payload={\"value\": msg.payload};\nglobal.set(\"stat\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":60,"wires":[[]]},{"id":"a06315ab.c71a88","type":"http in","z":"84794c68.55217","name":"","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":70,"y":100,"wires":[["9b4a2cb5.28e18"]]},{"id":"3cde02f6.e1c94e","type":"http response","z":"84794c68.55217","name":"","statusCode":"","headers":{},"x":90,"y":180,"wires":[]},{"id":"15484832.120a08","type":"http response","z":"84794c68.55217","name":"","statusCode":"","headers":{},"x":90,"y":60,"wires":[]},{"id":"9b4a2cb5.28e18","type":"function","z":"84794c68.55217","name":"","func":"msg.payload = global.get(\"stat\");\n//msg.payload={\"value\": \"ohh yeah!!\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":140,"wires":[["3cde02f6.e1c94e"]]},{"id":"4bb6b23b.5b24dc","type":"http request","z":"84794c68.55217","name":"GOOGLESHEETLINK2","method":"GET","ret":"txt","paytoqs":"ignore","url":"YOUT_GOOGLE_SHEET_LINK","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":20,"wires":[[]]},{"id":"b11433b4.7bc75","type":"countdown","z":"84794c68.55217","name":"","topic":"","payloadTimerStart":"2","payloadTimerStartType":"num","payloadTimerStop":"1","payloadTimerStopType":"num","timer":"6","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":390,"y":20,"wires":[["b18dec10.121a7"],[]]},{"id":"538e5e90.eef1f","type":"debug","z":"84794c68.55217","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":20,"wires":[]},{"id":"b18dec10.121a7","type":"switch","z":"84794c68.55217","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":20,"wires":[["96fa3dd9.1dcfc","767e9c7e.d4fe64"]]},{"id":"d23bff57.9483d","type":"http request","z":"84794c68.55217","name":"GOOGLESHEETLINK1","method":"GET","ret":"txt","paytoqs":"ignore","url":"YOUR_GOOGLE_SHEET_LINK","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":100,"wires":[[]]},{"id":"8f7810ba.8f013","type":"comment","z":"84794c68.55217","name":"DooR","info":"1. open the door and close the nobe after 3 sec\n2. wait for 6 sec befor executing another command\n3. uploading the log info in the google-sheet\n4. upadting the status to the app","x":310,"y":100,"wires":[]},{"id":"9b1ab9ff.a98a78","type":"twilio-api","name":"","sid":"AC99f5d556e4f47120b743d8a6b32d361c","from":"+17863218082"}]